*{
	padding:0;
	margin:0;	
    color: black;
}

html{
	width:100%;
	height:100%;
    overflow:hidden;
    background-color:#333;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size:24px;
    font-weight:400;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

h2{
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    color: #B2FFF6;
}

h3, p{
	padding:0.2rem 2rem;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    color: black;
}

p{
    padding-top: 10px;
}

/********************************
        TABS
********************************/

ul.tabs{
	width:100%;
    height: 3rem;
}
.tabs li.tab{
	float:left; 
	height:3.1rem;
	display:inline-block;
	width:50%;
}
.tabs li.tab a{
	display: block;
	padding: 0.5rem 2rem;
	font-size: 2rem;
	line-height: 2rem;
	height: 2rem;
	text-decoration: none;
	border: none;
	background-color: #333;
	text-align: center;
}
.tabs li.tab a.activetab{
  background-color:#333;
  position:relative;
  z-index:0;
}

#maptab{
    background-image: url(../img/map.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#contactstab{
    background-image: url(../img/user.svg);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/********************************
        PAGES
********************************/

[data-role=page]{
  display:none;
	background-color:#333;
	color: #bbb;	
	width:100%;
}
[data-role=page].activetab{ 
  left: 0;
  right: 0;
  z-index: 5;
  background-color:#333;
}
[data-role=page].show{
  display:block;
}
[data-role=page].hidden{
  display:none;
}
[data-role=page]#map{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
}

[data-role=page]#map p{
    text-align: center;
    padding-top: 30px;
}
[data-role="content"]{
  margin-top: -1px;
    border-top: 1px solid #333S;
}
[data-role="content"] p:last-child{
	padding-bottom:4rem;
}
[data-rel="back"]{
	float:left;
	color:#fff;	
	padding:0.3rem 1rem;
  color: #0C3;
  font-size: 1rem;
  line-height:2.0rem;
  text-decoration:none;
  display:none;
}
[data-role=overlay] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.82);
}

[data-role=modal] {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 80%;
    z-index: 15;
    max-height: 80%;
    padding: 5vh;
    border-radius: 15px;
    border: 1px solid #eee;
    min-height: 10%;
    color: #eee;
    background-color: rgba(68, 68, 68, 0.82);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
div#map{
	display:block;	
}
#theMap{
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: black;
}

#contactsoutput{
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    color: black;
}

[data-role=page]#map{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
}
wrapper{
    width: 100%;
    height:100%;    
}